:root {
    --duration: 1s;
    --linetimingfunction: cubic-bezier(0,0,.11,1.96);
    --flaptimingfunction: cubic-bezier(.47,0,.17,1.62);
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
}
body {
    height: 100vh;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


h1 {
    position: absolute;
    top: 5rem;
    font-size: 4rem;
}


#grid {
    position: absolute;
    width: calc( 300px + 4rem );
    height: calc( 300px + 4rem );
    /* background-color: lightgrey; */
}

#horizontal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    flex-basis: 0;
    height: calc( 102px + 1rem );
}
#vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: calc( 102px + 1rem );
}
.hl {
    width: 0;
    height: 2px;
    background-color: rgb(200, 200, 200);
    transition: width .5s;
    transition-timing-function: var(--linetimingfunction);
}
.vl {
    height: 0;
    width: 2px;
    background-color: rgb(200, 200, 200);
    transition: height .65s;
    transition-timing-function: var(--linetimingfunction);
}

/* TILE ZONE SETUP */

#board {
    cursor: pointer;
    table-layout: fixed;
    border-spacing: 1rem;
    transform-style: preserve-3d;
}
td {
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    font-size: 8.5rem;
}


/* FLAP TILE SETUP */

.scene {
    width: 100px;
    height: 100px;
    perspective: 600px;
}

.tile {
    width: 100%;
    height: 50px;

    position: absolute;
    transition: transform var(--duration);
    transform-style: preserve-3d;
}

.tile__face {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    backface-visibility: hidden;
}

.front {
    background-color: black;
    box-shadow: 0px 0px 0px rgb(100, 100, 100);
}

.back {
    background-color: white;
    box-shadow: inset 0px 0px 22px -22px lightgrey;
    transform: rotateX(180deg);
}

.top {
    top: 0;
    transform-origin: bottom;
}

.bottom {
    bottom: 0;
    transform-origin: top;
    transition-timing-function: var(--flaptimingfunction);

}


/* PLAYER MARK ALIGNMENT */

.shift {
    display: flex;
    justify-content: center;
}
.shift div {
    align-self: flex-end;
}



/* MOTION EFFECTS */
.hopen {
    width: calc( 300px + 4rem );
}
.vopen {
    height: calc( 300px + 4rem );
}

.flap {
    transform: rotateX(180deg);
}
.fflap {
    transition: box-shadow var(--duration);
    box-shadow: 0px 0px 20px rgb(180, 180, 180);
}
.bflap {
    transition: box-shadow var(--duration);
    /* background-color: lightgrey; */
    box-shadow: inset 0px -150px 22px -22px rgb(155, 155, 155);
}
